.drop-zone {
  position: relative;
  width: 100%;
  height: 240px;
  border-radius: 14px;
  border: 2px dashed #bbb5ff;
  background: #f7f8ff;
}

.drop-zone.dragging {
  border: 2px solid #bbb5ff;
  filter: blur(1px);
}
